.list-cell  {
    -fx-background-color: #134ea1;
    -fx-font-size:18;
    -fx-text-fill: white;
}

.list-cell:even  {
    -fx-background-color: #221191;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
}

.list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0.0%, #207BCF 25.0%, #1973C9 75.0%, #0A65BF 100.0%);
}