.list-cell  {
    -fx-background-color: #ff6505;
    -fx-font-size: 18;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: white;
}

.list-cell:even  {
    -fx-background-color: #ff3300;
}

.list-cell:filled:hover {
    -fx-background-color: #ff8c00;
}

.list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0.0%, #ff3300 25.0%, #ff8c00 75.0%, #0A65BF 100.0%);
}